html,
body,
.app {
  height: 100vh;
  background: #eee;
  padding: 1em;
}
.register {
  height: 120vh;
  background: rgb(255, 255, 255);
  padding: 1em;
}
.login {
  height: 105vh;
  background: rgb(255, 255, 255);
  padding: 1em;
}

/* SidePanel.js */
.menu {
  padding-bottom: 2em;
}

/* Messages.js */
.messages {
  height: 52vh;
  overflow-y: scroll;

}
.messages_segment {
  margin-top:  5px  !important;

}

/* MessageForm.js */
.message__form {
  position: fixed !important;
  bottom: 0;
  margin-left: 320px !important;
  left: 0;
  right: 1em;
  z-index: 200;
}

.emoijpicker {
  position: absolute;
}

/* Message.js */
.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}

.message__image {
  padding: 1em;
}

/* ProgressBar.js */
.progress__bar {
  margin: 0.3em 0 0.2em 0 !important;
  height: 29px !important;
}

/* ColorPanel.js */
.color__container {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 35px;
  border-radius: 3px;
}

.color__square {
  width: 35px;
  height: 35px;
}

.color__overlay {
  width: 85px;
  height: 35px;
  transform: rotate(225deg);
}



/* Skeleton.js */
.skeleton {
  position: relative;
  overflow: hidden;
  height: 40px;
  margin-bottom: 10px;
}

.skeleton::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  animation: sweep 2s infinite;
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
}

@keyframes sweep {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skeleton__avatar {
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background-color: rgba(58, 57, 57, 0.3);
}

.skeleton__author {
  background-color: rgba(58, 57, 57, 0.3);
  width: 120px;
  height: 10px;
  border-radius: 3px;
  position: absolute;
  bottom: 30px;
  left: 40px;
  right: 0;
}

.skeleton__details {
  background-color: rgba(58, 57, 57, 0.3);
  height: 20px;
  border-radius: 3px;
  position: absolute;
  bottom: 5px;
  left: 40px;
  right: 20px;
}

.message_header  {
   margin-bottom:  5px  !important;
}


.modal_main {
  text-align: center !important;
  position: relative !important;
  left : 25%;
}